.main
    display: flex
    position: absolute
    top: 0px
    left: 0px
    width: 100vw
    height: 100vh
    margin: 0px, 0px, 0px, 0px
    padding: 0px, 0px, 0px, 0px
    overflow: hidden

    user-select: none

.Dark
    background: url("img/backgrounds/Dark.jpg") no-repeat
    background-size: cover

.White
    background: url("img/backgrounds/White.jpg") no-repeat
    background-size: cover