.container
    position: absolute
    height: 50px
    width: 50px

    border-radius: 50%

    cursor: pointer
    transition-duration: 220ms
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75)

    display: flex
    justify-content: center
    align-items: center

    &:hover
        height: 60px
        width: 60px

@media (min-width: 750px) 
    .container
        bottom: 0px
        right: 0px

        margin-right: 20px
        margin-bottom: 20px
        &:hover
            margin-right: 15px
            margin-bottom: 15px

@media (max-width: 750px) 
    .container
        top: 0px
        right: 0px

        margin-right: 20px
        margin-top: 20px
        
.image
    width: 35px
    height: 35px

.Dark
    background-color: #21222d

.White
    background-color: #ffffff